Django==4.2.20
celery==5.5.2
redis==5.2.1
django-allauth==65.4.1
django-tailwind==3.6.0
certifi==2024.2.2
cryptography==42.0.7
pytz==2024.1
sqlparse==0.5.3
requests==2.31.0
urllib3==1.26.18
typing_extensions==4.12.2