{% extends "shared/base.html" %}
{% block title %}Add Student to {{ course.name }}{% endblock %}

{% block content %}
<div class="max-w-xl mx-auto bg-white p-6 mt-12 rounded-xl shadow">
    <h1 class="text-2xl font-bold mb-4">Add Student to {{ course.name }}</h1>
    <form method="post" class = "mb-4">
      {% csrf_token %}
      <div class="space-y-4">
        <input name="name" class="w-full border rounded p-2" placeholder="Student Name" required />
        <input name="student_id" class="w-full border rounded p-2" placeholder="Student ID" required />
        <input name="graduation_year" type="number" class="w-full border rounded p-2" placeholder="Graduation Year" required />
        <input name="email" type="email" class="w-full border rounded p-2" placeholder="Email" required />

        <div class="space-y-2">
          <h1 class="text-2xl font-bold mb-4">Add Student to Team</h1>
          <!-- <label for="team" class="block">Assign to Team:</label> -->
          <select name="team" class="w-full border rounded p-2">
              <option value="">Select Team (None)</option>
              {% for team in teams %}
                  <option value="{{ team.id }}">{{ team.name }}</option>
              {% endfor %}
          </select>
        </div>

        <div class="space-y-2">
          <label for="new_team_name" class="block text-center">Or</label>
          <input name="new_team_name" class="w-full border rounded p-2" placeholder="Create New Team Name" />
        </div>

        <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 w-full bg-[#34A853]">
          Add Student
        </button>
      </div>
    </form>
    <a href="{% url 'courses:course_detail' course.id %}" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 w-full text-center bg-[#E42D2D]">
        Back to {{ course.name }} 
   </a>
  </div>
{% endblock %}