<!doctype html>
<html>
    <head>

        <meta charset="utf-8">
        <!--Metatag for proper responsive design-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}PeerSight{% endblock %}</title>
        <!--Providing a default value for this block (PeerSight) -->

        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
            rel="stylesheet"
        />
        <!-- Bootstrap CSS-->
        <link
            href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.30.0/tabler-icons.min.css"
            rel="stylesheet"
        />
        <!-- Bootstrap CSS (?)-->
        <script src="https://cdn.tailwindcss.com"></script>

        <!-- If you want to use a static CSS file for base.html-specific styles -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">

        <!-- Block for additional head content -->
        {% block extra_head %}{% endblock %}
    </head>
    <body class="flex">
        {% block nav %} <!-- Block for Sidebar -->
    
        {% endblock %}

        <div id="content" class="main">
            <div class="row justify-content-center">
                <div class="col-8">
                    {% block content %} <!-- Templates that extend base.html can pick what goes 
                        inside this block (content)-->
                    
                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- Bootstrap JS ( If we needed it would go here) -->
    </body>
</html>