{% extends "courses/base.html" %}
{% block title %}{{ course.name }} - Details{% endblock %}

<!--Administrator sidebar-->
{% block nav %}
<nav
    class="flex flex-col gap-2 px-0 py-5 h-screen bg-gray-800 w-[300px] max-md:w-[250px] max-sm:p-2.5 max-sm:w-full max-sm:h-auto"
    id="sidebar"
>
    <ul class="w-full">
        <li>
          <a
            href="#"
            class="flex gap-4 items-center px-6 py-3 cursor-pointer duration-[0.2s] transition-[background-color] hover:bg-gray-700 max-md:px-5 max-md:py-2.5 max-sm:px-4 max-sm:py-3"
            data-nav-item
          >
            <i class="ti ti-home text-2xl text-white"></i>
            <span class="text-base font-medium text-white max-md:text-sm"
              >Admin Dashboard</span
            >
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex gap-4 items-center px-6 py-3 cursor-pointer duration-[0.2s] transition-[background-color] hover:bg-gray-700 max-md:px-5 max-md:py-2.5 max-sm:px-4 max-sm:py-3"
            data-nav-item
          >
            <i class="ti ti-book text-2xl text-white"></i>
            <span class="text-base font-medium text-white max-md:text-sm"
              >Your Classes</span
            >
          </a>
        </li>
        <li>
          <a
            href="{% url 'courses:manage_courses' %}"
            class="flex gap-4 items-center px-6 py-3 cursor-pointer duration-[0.2s] transition-[background-color] hover:bg-gray-700 max-md:px-5 max-md:py-2.5 max-sm:px-4 max-sm:py-3"
            data-nav-item
          >
            <i class="ti ti-layout-grid text-2xl text-white"></i>
            <span class="text-base font-medium text-white max-md:text-sm"
              >Manage Courses</span
            >
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex gap-4 items-center px-6 py-3 cursor-pointer duration-[0.2s] transition-[background-color] hover:bg-gray-700 max-md:px-5 max-md:py-2.5 max-sm:px-4 max-sm:py-3"
            data-nav-item
          >
            <i class="ti ti-users text-2xl text-white"></i>
            <span class="text-base font-medium text-white max-md:text-sm"
              >Manage Teams</span
            >
          </a>
        </li>
        <li>
          <a
          href="{% url 'manage_forms' %}"
            class="flex gap-4 items-center px-6 py-3 cursor-pointer duration-[0.2s] transition-[background-color] hover:bg-gray-700 max-md:px-5 max-md:py-2.5 max-sm:px-4 max-sm:py-3"
            data-nav-item
          >
            <i class="ti ti-list text-2xl text-white"></i>
            <span class="text-base font-medium text-white max-md:text-sm"
              >Manage Forms</span
            >
          </a>
        </li>
        <li>
          <a
          href="{% url 'create_form' %}"
            class="flex gap-4 items-center px-6 py-3 cursor-pointer duration-[0.2s] transition-[background-color] hover:bg-gray-700 max-md:px-5 max-md:py-2.5 max-sm:px-4 max-sm:py-3"
            data-nav-item
          >
            <i class="ti ti-plus text-2xl text-white"></i>
            <span class="text-base font-medium text-white max-md:text-sm"
              >Create Form</span
            >
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex gap-4 items-center px-6 py-3 cursor-pointer duration-[0.2s] transition-[background-color] hover:bg-gray-700 max-md:px-5 max-md:py-2.5 max-sm:px-4 max-sm:py-3"
            data-nav-item
          >
            <i class="ti ti-chart-dots text-2xl text-white"></i>
            <span class="text-base font-medium text-white max-md:text-sm"
              >View/Evaluate Responses</span
            >
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex gap-4 items-center px-6 py-3 cursor-pointer duration-[0.2s] transition-[background-color] hover:bg-gray-700 max-md:px-5 max-md:py-2.5 max-sm:px-4 max-sm:py-3"
            data-nav-item
          >
            <i class="ti ti-mail text-2xl text-white"></i>
            <span class="text-base font-medium text-white max-md:text-sm"
              >Manage Reminders</span
            >
          </a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto bg-white shadow-md rounded-xl p-6 mt-12">
    <h1 class="text-3xl font-bold mb-2">{{ course.name }}</h1>
    <p class="text-gray-700">{{ course.subject }} | {{ course.semester }} | Section {{ course.section }}</p>
    <p class="text-sm text-gray-500 mt-1">Course ID: {{ course.course_id }}</p>

    <hr class="my-4" />

    <div class="flex justify-between items-center">
      <h2 class="text-xl font-semibold">Enrolled Students</h2>
      <a href="{% url 'courses:add_student' course.id %}" class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 bg-[#34A853]">
        Add Student
      </a>
    </div>

    <ul class="mt-4 space-y-2 mb-4">
      {% for student in students %}
        <li class="bg-gray-100 p-3 rounded">{{ student.name }} — {{ student.student_id }} ({{ student.email }})</li>
      {% empty %}
        <li>No students enrolled yet.</li>
      {% endfor %}
    </ul>
    <a href="{% url 'courses:manage_courses' %}" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 mt-10">
         Back to Courses
    </a>
</div>
{% endblock %}