{% extends "shared/base.html" %}
{% block title %}{{ course.name }} - Details{% endblock %}


{% block content %}
<div class="max-w-4xl mx-auto bg-white shadow-md rounded-xl p-6 mt-12">
    <h1 class="text-3xl font-bold mb-2">{{ course.name }}</h1>
    <p class="text-gray-700">{{ course.subject }} | {{ course.semester }} | Section {{ course.section }}</p>
    <p class="text-sm text-gray-500 mt-1">Course ID: {{ course.course_id }}</p>

    <hr class="my-4" />

    <div class="flex justify-between items-center">
      <h2 class="text-xl font-semibold">Enrolled Students</h2>
      <div class="ml-auto flex space-x-2">
        <a href="{% url 'courses:add_student' course.id %}" class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 bg-[#34A853]">
          Add Student
        </a>
        <a href="{% url 'courses:manage_teams' course.id %}" class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 bg-[#34A853]">
          Manage Teams
        </a>
      </div>
    </div>
    <ul class="mt-4 space-y-2 mb-4">
      {% for student in students %}
        <li class="bg-gray-100 p-3 rounded">{{ student.name }} — {{ student.student_id }} ({{ student.email }}) 
          {% with student_teams=student.teams.all %}
          {% if student_teams %}
            —
            {% for team in student_teams %}
              {{ team.name }}
              {% if not forloop.last %}, {% endif %}
            {% endfor %}
          {% else %}
            — No Team Assigned
          {% endif %}
        {% endwith %}
        </li>
      {% empty %}
        <li>No students enrolled yet</li>
      {% endfor %}
    </ul>
    <a href="{% url 'courses:manage_courses' %}" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 mt-10">
         Back to Courses
    </a>
</div>
{% endblock %}