<!-- Student sidebar-->
<nav
    class="flex flex-col gap-2.5 px-0 py-5 h-screen bg-gray-800 w-[300px] max-md:w-[250px] max-sm:p-2.5 max-sm:w-full max-sm:h-auto"
>
    <a
        href="{% url 'main:student_landing' %}"
        class="nav-item flex gap-4 items-center px-8 py-4 cursor-pointer duration-[0.3s] transition-[background-color] max-md:px-5 max-md:py-3 max-sm:px-4 max-sm:py-2.5"
    >
        <i class="ti ti-home text-2xl text-white"></i>
        <span
            class="text-base font-medium text-white max-md:text-sm max-sm:text-sm"
            >User Dashboard</span
        >
    </a>
    
    <a
        href="{% url 'main:student_forms' %}"
        class="nav-item flex gap-4 items-center px-8 py-4 cursor-pointer duration-[0.3s] transition-[background-color] max-md:px-5 max-md:py-3 max-sm:px-4 max-sm:py-2.5"
    >
        <i class="ti ti-list text-2xl text-white"></i>
        <span
            class="text-base font-medium text-white max-md:text-sm max-sm:text-sm"
            >Forms</span
        >
    </a>

    <a
        href="{% url 'student:your_responses' %}"
        class="nav-item flex gap-4 items-center px-8 py-4 cursor-pointer duration-[0.3s] transition-[background-color] max-md:px-5 max-md:py-3 max-sm:px-4 max-sm:py-2.5"
    >
    <i class="ti ti-chart-dots text-2xl text-white"></i>
    <span
        class="text-base font-medium text-white max-md:text-sm max-sm:text-sm"
        >My Form Responses</span
    >
    </a>

    <a
        href="{% url 'student:your_received_feedback' %}"
        class="nav-item flex gap-4 items-center px-8 py-4 cursor-pointer duration-[0.3s] transition-[background-color] max-md:px-5 max-md:py-3 max-sm:px-4 max-sm:py-2.5"
    >
        <i class="ti ti-message-2 text-2xl text-white"></i>
        <span
            class="text-base font-medium text-white max-md:text-sm max-sm:text-sm"
            >My Feedback</span
        >
    </a>

    <a
    href="{% url 'student:my_grades' %}"
    class="nav-item flex gap-4 items-center px-8 py-4 cursor-pointer duration-[0.3s] transition-[background-color] max-md:px-5 max-md:py-3 max-sm:px-4 max-sm:py-2.5"
    >
    <i class="ti ti-report text-2xl text-white"></i>
    <span
        class="text-base font-medium text-white max-md:text-sm max-sm:text-sm"
        >My Grades</span
    >
    </a>

    <a
        href="/logout"
        class="nav-item flex gap-4 items-center px-8 py-4 cursor-pointer duration-[0.3s] transition-[background-color] max-md:px-5 max-md:py-3 max-sm:px-4 max-sm:py-2.5"
    >
        <i class="ti ti-logout text-2xl text-white"></i>
        <span class="text-base font-medium text-white max-md:text-sm"
        >Log Out</span
        >
    </a>
</nav>