<!-- Student sidebar-->
<nav
    class="flex flex-col gap-2.5 px-0 py-5 h-screen bg-gray-800 w-[300px] max-md:w-[250px] max-sm:p-2.5 max-sm:w-full max-sm:h-auto"
>
    <a
        href="#dashboard"
        class="nav-item flex gap-4 items-center px-8 py-4 cursor-pointer duration-[0.3s] transition-[background-color] max-md:px-5 max-md:py-3 max-sm:px-4 max-sm:py-2.5"
    >
        <i class="ti ti-home text-2xl text-white"></i>
        <span
            class="text-base font-medium text-white max-md:text-sm max-sm:text-sm"
            >User Dashboard</span
        >
    </a>
    
    <a
        href="#classes"
        class="nav-item flex gap-4 items-center px-8 py-4 cursor-pointer duration-[0.3s] transition-[background-color] max-md:px-5 max-md:py-3 max-sm:px-4 max-sm:py-2.5"
    >
        <i class="ti ti-book text-2xl text-white"></i>
        <span
            class="text-base font-medium text-white max-md:text-sm max-sm:text-sm"
            >Classes</span
        >
    </a>
    <a
        href="#forms"
        class="nav-item flex gap-4 items-center px-8 py-4 cursor-pointer duration-[0.3s] transition-[background-color] max-md:px-5 max-md:py-3 max-sm:px-4 max-sm:py-2.5"
    >
        <i class="ti ti-list text-2xl text-white"></i>
        <span
            class="text-base font-medium text-white max-md:text-sm max-sm:text-sm"
            >Forms</span
        >
    </a>
    <a
        href="#teams"
        class="nav-item flex gap-4 items-center px-8 py-4 cursor-pointer duration-[0.3s] transition-[background-color] max-md:px-5 max-md:py-3 max-sm:px-4 max-sm:py-2.5"
    >
        <i class="ti ti-users text-2xl text-white"></i>
        <span
            class="text-base font-medium text-white max-md:text-sm max-sm:text-sm"
            >Teams</span
        >
    </a>
    <a
        href="#feedback"
        class="nav-item flex gap-4 items-center px-8 py-4 cursor-pointer duration-[0.3s] transition-[background-color] max-md:px-5 max-md:py-3 max-sm:px-4 max-sm:py-2.5"
    >
        <i class="ti ti-chart-dots text-2xl text-white"></i>
        <span
            class="text-base font-medium text-white max-md:text-sm max-sm:text-sm"
            >Feedback Results</span
        >
    </a>
    <a
        href="#profile"
        class="nav-item flex gap-4 items-center px-8 py-4 cursor-pointer duration-[0.3s] transition-[background-color] max-md:px-5 max-md:py-3 max-sm:px-4 max-sm:py-2.5"
    >
        <i class="ti ti-user text-2xl text-white"></i>
        <span
            class="text-base font-medium text-white max-md:text-sm max-sm:text-sm"
            >My Profile</span
        >
    </a>
</nav>