<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PeerSight Google Sign In</title>
    </head>
    <body>
        <!-- What does this do?-->
        {% load socialaccount %}
        <h2 style="text-align: center;"> Google Login</h2>
        <!--A special function that gives us the url for google signin page
        Adds "accounts/google/login" to the url path
        Define the route after coming back from the google signin url ("/")-->
        <a href="{% provider_login_url 'google' %}?next=/">Login With Google</a>

        <!--If the user is authenticated (logged in), display user information and show the logout button-->
        {% if user.is_authenticated %}
        <p>You are signed in as {{user.email}}</p>
        <!--changes the path to /logout-->
        <a href="logout">Logout</a>
        {% endif %}
    </body>
</html>