{% extends "main/base.html" %}
{% block title %}Admin Dashboard{% endblock %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/adminDashboardStyles.css' %}">
{% endblock %}

{% block content %}
<div class = "dashboard-container">
     <h2>Hello Admin {{ username }}, your current classes are:</h2>

    <div class = "card-container">
        <div class = class-card> 
            <span class = "class-tag">CSCI3356.01</span>
            <span class = "class-name">Software Engineering</span>
            <span class = "class-tag">Spring 2025</span>
        </div>
        <div class = "class-card"> 
            <span class = "class-tag">CSCI3356.02</span>
            <span class = "class-name">Software Engineering</span>
            <span class = "class-tag">Spring 2025</span>
        </div>
        <div class = "class-card"> 
            <span class = "class-tag">CSCI1102.01</span>
            <span class = "class-name">Computer Science I</span>
            <span class = "class-tag">Fall 2024</span>
        </div>
        <div class = "class-card"> 
            <span class = "class-tag">CSCI1102.02</span>
            <span class = "class-name">Computer Science I</span>
            <span class = "class-tag">Fall 2024</span>
        </div>        
    </div>
    
    <div class = "form-section"> 
        <h2 style = "font-size:15px">Your Forms:</h2>
    </div>

    <div class = "form-container"> 
        <div class="forms">
            <h3>Name</h3>
            <p>Delivery 2 Peer Review</p>
            <p>Delivery 2 Peer Review</p>
            <p>Delivery 1 Peer Review</p>
        </div>

        <div class="forms">
            <h3>Class</h3>
            <p>CSCI3356.01</p>
            <p>CSCI3356.02</p>
            <p>CSCI3356.01</p>
        </div>

        <div class="forms">
            <h3>Students Submitted</h3>
            <p style = "color:#E42D2D">29/38</p>
            <p style = "color:#E42D2D">25/31</p>
            <p style = "color:#34A853;">38/38</p>
        </div>

        <div class="forms">
            <h3>Due Date</h3>
            <p>Friday 11:59 PM</p>
            <p>Friday 11:59 PM</p>
            <p>2/14/2025</p>
        </div>

    </div>
</div>
{% endblock %}