{% extends "shared/base.html" %}
{% load socialaccount %} <!-- What does this do -->


{% block title %}Sign In{% endblock %}


{% block extra_head %}
    <!-- Include any extra styles or meta tags specific to signin -->

    <!-- If you want to use a static CSS file for signin-specific styles -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/styles.css' %}">
{% endblock %}

{% block content %}
<main class="flex flex-col justify-center items-center p-5 mx-auto min-h-screen bg-zinc-900">
    <header>
        <h1 class="mb-5 text-5xl text-center text-white max-md:text-4xl max-sm:text-3xl">
            <span class="text-stone-400">Welcome to </span>
            <span class="text-stone-400">Peer Sight</span>
        </h1>
        <p class="mb-10 text-3xl text-center text-white max-md:text-2xl max-sm:text-xl">
            Please indicate your role below
        </p>
    </header>

    <section class="flex gap-5 justify-center max-md:flex-row max-md:gap-4 max-sm:flex-col max-sm:gap-4">
        <!-- Professor button -->

        <!--A special function that gives us the url for google signin page
        Adds "accounts/google/login" to the url path
        Define the route after coming back from the google signin url ("/")-->
        <a href="{% provider_login_url 'google' %}?next=/route_user/">
            <button type="button"
                class="role-card flex flex-col justify-center items-center rounded-lg transition-transform cursor-pointer bg-zinc-800 duration-[0.2s] ease-[ease-in-out] h-[200px] w-[200px] max-md:h-[180px] max-md:w-[180px] max-sm:w-full max-sm:h-[150px] max-sm:max-w-[300px]">
                <figure class="flex justify-center items-center mb-4 h-[60px] w-[60px]">
                    <i class="ti ti-user text-4xl text-white"></i>
                </figure>
                <h2 class="text-2xl text-white">Professor</h2>
            </button>
        </a>

        <!-- Student button -->
        <a href="{% provider_login_url 'google' %}?next=/route_user/">
            <button type="button"
                class="role-card flex flex-col justify-center items-center rounded-lg transition-transform cursor-pointer bg-zinc-800 duration-[0.2s] ease-[ease-in-out] h-[200px] w-[200px] max-md:h-[180px] max-md:w-[180px] max-sm:w-full max-sm:h-[150px] max-sm:max-w-[300px]">
                <figure class="flex justify-center items-center mb-4 h-[60px] w-[60px]">
                    <i class="ti ti-book text-4xl text-white"></i>
                </figure>
                <h2 class="text-2xl text-white">Student</h2>
            </button>
        </a>
    </section>
</main>

<!-- If the user is authenticated, show info and a logout link -->
{% if user.is_authenticated %}
    <p>You are signed in as {{ user.email }}</p>
    <a href="/logout">Logout</a>
{% endif %}
{% endblock %}

